{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/pkg/macos/hundredpoints", "label": "Mac OSX binary"},
        {"path": "dist/pkg/windows/hundredpoints.exe", "label": "Windows binary"}
      ]
    }],
  ],
  "branches": ["main", "next"]
}
